:root{
   --body-background:#f2f8ff;
   --primary:#cae1ff;
   --secondary:#131318;
   --navbar-back:#bbd9ff5c;
}
*{
   margin: 0;
  padding: 0;
   box-sizing: border-box;
}
#app{
   scroll-behavior: smooth;
   display: grid;
   place-items: center;
   background-color: var(--body-background);
}
