:root{
   --body-background:#FFD8D8;
   --sidebar-bg-dark:#E36C6C;
   --sidebar-bg-light:#F98484;
   --secondary:#552D2D;
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
#app{
   background-color: var(--body-background);
  height: fit-content;
}
